
:root {
    --colorColorOverlay: #0000004d;    
    --colorGrayBlue100: #6e7681;    
    --colorGrayBlue200: #e0e3e6;    
    --colorGrayBlue300: #c2c7ce;    
    --colorGrayBlue400: #a4acb6;    
    --colorGrayBlue500: #87929f;    
    --colorGrayBlue600: #6c7889;    
    --colorGrayBlue700: #515f73;    
    --colorGrayBlue800: #37485f;    
    --colorGrayBlue900: #233144;    
    --colorGrayBlue1000: #121923;    
    --colorGrayCool100: #f2f4f8;    
    --colorGrayCool200: #dde1e6;    
    --colorGrayCool300: #c1c7cd;    
    --colorGrayCool400: #a2a9b0;    
    --colorGrayCool500: #878d96;    
    --colorGrayCool600: #697077;    
    --colorGrayCool700: #4d5358;    
    --colorGrayCool800: #343a3f;    
    --colorGrayCool900: #21272a;    
    --colorGrayCool1000: #121619;    
    --colorGrayTrue100: #fafafa;    
    --colorGrayTrue200: #f4f4f5;    
    --colorGrayTrue300: #e4e4e7;    
    --colorGrayTrue400: #d4d4d8;    
    --colorGrayTrue500: #a1a1aa;    
    --colorGrayTrue600: #71717a;    
    --colorGrayTrue700: #52525b;    
    --colorGrayTrue800: #3f3f46;    
    --colorGrayTrue900: #27272a;    
    --colorGrayTrue1000: #18181b;    
    --colorGrayWarm100: #fafaf9;    
    --colorGrayWarm200: #f5f5f4;    
    --colorGrayWarm300: #e7e5e4;    
    --colorGrayWarm400: #d7d3d0;    
    --colorGrayWarm500: #919191;    
    --colorGrayWarm600: #777777;    
    --colorGrayWarm700: #57534e;    
    --colorGrayWarm800: #44403c;    
    --colorGrayWarm900: #292524;    
    --colorGrayWarm1000: #1c1917;    
    --colorPrimerGray100: #f6f8fa;    
    --colorPrimerGray200: #eaeef2;    
    --colorPrimerGray300: #d0d7de;    
    --colorPrimerGray400: #afb8c1;    
    --colorPrimerGray500: #8c959f;    
    --colorPrimerGray600: #6e7781;    
    --colorPrimerGray700: #57606a;    
    --colorPrimerGray800: #424a53;    
    --colorPrimerGray900: #32383f;    
    --colorPrimerGray1000: #24292f;    
    --colorPrimerDark100: #f0f6fc;    
    --colorPrimerDark200: #c9d1d9;    
    --colorPrimerDark300: #b1bac4;    
    --colorPrimerDark400: #8b949e;    
    --colorPrimerDark500: #6e7681;    
    --colorPrimerDark600: #484f58;    
    --colorPrimerDark700: #30363d;    
    --colorPrimerDark800: #21262d;    
    --colorPrimerDark900: #161b22;    
    --colorPrimerDark1000: #0d1117;    
    --colorGreen100: #dffcf0;    
    --colorGreen200: #baf3db;    
    --colorGreen300: #7ee2b8;    
    --colorGreen400: #4bce97;    
    --colorGreen500: #2abb7f;    
    --colorGreen600: #22a06b;    
    --colorGreen700: #1f845a;    
    --colorGreen800: #216e4e;    
    --colorGreen900: #164b35;    
    --colorGreen1000: #133527;    
    --colorTeal100: #e3fafc;    
    --colorTeal200: #c1f0f5;    
    --colorTeal300: #8bdbe5;    
    --colorTeal400: #60c6d2;    
    --colorTeal500: #37b4c3;    
    --colorTeal600: #1d9aaa;    
    --colorTeal700: #1d7f8c;    
    --colorTeal800: #206b74;    
    --colorTeal900: #1d474c;    
    --colorTeal1000: #153337;    
    --colorBlueLight100: #f0f9ff;    
    --colorBlueLight200: #e0f2fe;    
    --colorBlueLight300: #b9e6fe;    
    --colorBlueLight400: #7bd4fd;    
    --colorBlueLight500: #36bff9;    
    --colorBlueLight600: #0ba4eb;    
    --colorBlueLight700: #0085c9;    
    --colorBlueLight800: #016aa2;    
    --colorBlueLight900: #065986;    
    --colorBlueLight1000: #0a4a6f;    
    --colorBlue100: #e9f2ff;    
    --colorBlue200: #cce0ff;    
    --colorBlue300: #85b8ff;    
    --colorBlue400: #579dff;    
    --colorBlue500: #388bff;    
    --colorBlue600: #1d7afc;    
    --colorBlue700: #0c66e4;    
    --colorBlue800: #0055cc;    
    --colorBlue900: #09326c;    
    --colorBlue1000: #082145;    
    --colorBlueDark100: #eff4ff;    
    --colorBlueDark200: #d1e0ff;    
    --colorBlueDark300: #b2cbff;    
    --colorBlueDark400: #83adff;    
    --colorBlueDark500: #518bff;    
    --colorBlueDark600: #2970fe;    
    --colorBlueDark700: #155dee;    
    --colorBlueDark800: #004eea;    
    --colorBlueDark900: #0040c1;    
    --colorBlueDark1000: #00349e;    
    --colorPurple100: #f3f0ff;    
    --colorPurple200: #dfd8fd;    
    --colorPurple300: #b8acf6;    
    --colorPurple400: #9f8fef;    
    --colorPurple500: #8f7ee7;    
    --colorPurple600: #8270db;    
    --colorPurple700: #6e5dc6;    
    --colorPurple800: #5e4db2;    
    --colorPurple900: #352c63;    
    --colorPurple1000: #231c3f;    
    --colorPink100: #ffecf8;    
    --colorPink200: #fdd0ec;    
    --colorPink300: #f797d2;    
    --colorPink400: #e774bb;    
    --colorPink500: #da62ac;    
    --colorPink600: #cd519d;    
    --colorPink700: #ae4787;    
    --colorPink800: #943d73;    
    --colorPink900: #50253f;    
    --colorPink1000: #341829;    
    --colorRed100: #ffedeb;    
    --colorRed200: #ffd2cc;    
    --colorRed300: #ff9c8f;    
    --colorRed400: #f87462;    
    --colorRed500: #ef5c48;    
    --colorRed600: #e34935;    
    --colorRed700: #ca3521;    
    --colorRed800: #ae2a19;    
    --colorRed900: #601e16;    
    --colorRed1000: #391813;    
    --colorYellow100: #fff7d6;    
    --colorYellow200: #f8e6a0;    
    --colorYellow300: #f5cd47;    
    --colorYellow400: #e2b203;    
    --colorYellow500: #cf9f02;    
    --colorYellow600: #b38600;    
    --colorYellow700: #946f00;    
    --colorYellow800: #7f5f01;    
    --colorYellow900: #533f04;    
    --colorYellow1000: #3d2e00;    
    --colorOrange100: #fff4e5;    
    --colorOrange200: #ffe2bd;    
    --colorOrange300: #fec57b;    
    --colorOrange400: #faa53d;    
    --colorOrange500: #f18d13;    
    --colorOrange600: #d97008;    
    --colorOrange700: #b65c02;    
    --colorOrange800: #974f0c;    
    --colorOrange900: #5f3811;    
    --colorOrange1000: #43290f;    
    --colorMonoWhite: #ffffff;    
    --colorMonoBlack: #090b10;    
    --colorEmerald100: #ecfdf5;    
    --colorEmerald200: #baf3db;    
    --colorEmerald300: #a7f3d0;    
    --colorEmerald400: #6ee7b7;    
    --colorEmerald500: #34d399;    
    --colorEmerald600: #10b981;    
    --colorEmerald700: #059669;    
    --colorEmerald800: #047857;    
    --colorEmerald900: #065f46;    
    --colorEmerald1000: #064e3b;    
    --colorRedTail100: #fef2f2;    
    --colorRedTail200: #fee2e2;    
    --colorRedTail300: #fecaca;    
    --colorRedTail400: #fca5a5;    
    --colorRedTail500: #f87171;    
    --colorRedTail600: #ef4444;    
    --colorRedTail700: #dc2626;    
    --colorRedTail800: #b91c1c;    
    --colorRedTail900: #991b1b;    
    --colorRedTail1000: #7f1d1d;    
    --colorBgCanvas: var(--colorMonoWhite);    
    --colorBgDefault: var(--colorMonoWhite);    
    --colorNeutralLight400: var(--colorGrayTrue400);    
    --colorBgStrong: var(--colorNeutralLight400);    
    --colorNeutralLight200: var(--colorGrayTrue200);    
    --colorBgWeak: var(--colorNeutralLight200);    
    --colorNeutralLight100: var(--colorGrayTrue100);    
    --colorBgMuted: var(--colorNeutralLight100);    
    --colorNeutralLight900: var(--colorGrayTrue900);    
    --colorBgInversed: var(--colorNeutralLight900);    
    --colorWarning600: var(--colorOrange600);    
    --colorBgAttentionStrong: var(--colorWarning600);    
    --colorWarning100: var(--colorOrange100);    
    --colorBgAttentionWeak: var(--colorWarning100);    
    --colorInformation600: var(--colorBlueDark600);    
    --colorBgInfoStrong: var(--colorInformation600);    
    --colorInformation200: var(--colorBlueDark200);    
    --colorBgInfoWeak: var(--colorInformation200);    
    --colorPositive600: var(--colorTeal600);    
    --colorBgSuccessStrong: var(--colorPositive600);    
    --colorPositive100: var(--colorTeal100);    
    --colorBgSuccessWeak: var(--colorPositive100);    
    --colorNegative600: var(--colorRedTail600);    
    --colorBgCriticalStrong: var(--colorNegative600);    
    --colorNegative100: var(--colorRedTail100);    
    --colorBgCriticalWeak: var(--colorNegative100);    
    --colorNeutralLight1000: var(--colorGrayTrue1000);    
    --colorFgDefault: var(--colorNeutralLight1000);    
    --colorNeutralLight700: var(--colorGrayTrue700);    
    --colorFgStrong: var(--colorNeutralLight700);    
    --colorNeutralLight500: var(--colorGrayTrue500);    
    --colorFgWeak: var(--colorNeutralLight500);    
    --colorFgMuted: var(--colorNeutralLight400);    
    --colorFgInversed: var(--colorMonoWhite);    
    --colorFgOnAccent: var(--colorMonoWhite);    
    --colorFgSuccess: var(--colorPositive600);    
    --colorFgCritical: var(--colorNegative600);    
    --colorFgAttention: var(--colorWarning600);    
    --colorFgInfo: var(--colorInformation600);    
    --colorNeutralLight300: var(--colorGrayTrue300);    
    --colorBorderDefault: var(--colorNeutralLight300);    
    --colorBorderStrong: var(--colorNeutralLight400);    
    --colorBorderMuted: var(--colorNeutralLight200);    
    --colorBorderInversed: var(--colorMonoWhite);    
    --colorBorderSuccessStrong: var(--colorPositive600);    
    --colorBorderCriticalStrong: var(--colorNegative600);    
    --colorBorderAttentionStrong: var(--colorWarning600);    
    --colorBorderInfoStrong: var(--colorInformation600);    
    --colorInteractiveDefault: var(--colorInformation600);    
    --colorInformation700: var(--colorBlueDark700);    
    --colorInteractiveHover: var(--colorInformation700);    
    --colorInformation800: var(--colorBlueDark800);    
    --colorInteractivePressed: var(--colorInformation800);    
    --colorInteractiveSelected: var(--colorInformation200);    
    --colorBrandPrimary600: var(--colorGreen600);    
    --colorActionPrimaryDefault: var(--colorBrandPrimary600);    
    --colorBrandPrimary700: var(--colorGreen700);    
    --colorActionPrimaryHover: var(--colorBrandPrimary700);    
    --colorBrandPrimary800: var(--colorGreen800);    
    --colorActionPrimaryPressed: var(--colorBrandPrimary800);    
    --colorSecondary100: var(--colorYellow100);    
    --colorActionSecondaryDefault: var(--colorSecondary100);    
    --colorSecondary200: var(--colorYellow200);    
    --colorActionSecondaryHover: var(--colorSecondary200);    
    --colorSecondary400: var(--colorYellow400);    
    --colorActionSecondaryPressed: var(--colorSecondary400);    
    --colorActionCriticalDefault: var(--colorNegative600);    
    --colorNegative700: var(--colorRedTail700);    
    --colorActionCriticalHover: var(--colorNegative700);    
    --colorNegative800: var(--colorRedTail800);    
    --colorActionCriticalPressed: var(--colorNegative800);    
    --colorDecorateNeutral1: var(--colorNeutralLight500);    
    --colorDecorateNeutral2: var(--colorNeutralLight200);    
    --colorPositive900: var(--colorTeal900);    
    --colorDecorateGreen1: var(--colorPositive900);    
    --colorPositive200: var(--colorTeal200);    
    --colorDecorateGreen2: var(--colorPositive200);    
    --colorDecorateRed1: var(--colorNegative800);    
    --colorNegative200: var(--colorRedTail200);    
    --colorDecorateRed2: var(--colorNegative200);    
    --colorWarning800: var(--colorOrange800);    
    --colorDecorateYellow1: var(--colorWarning800);    
    --colorWarning200: var(--colorOrange200);    
    --colorDecorateYellow2: var(--colorWarning200);    
    --colorDecorateBlue1: var(--colorInformation800);    
    --colorDecorateBlue2: var(--colorInformation200);    
    --colorDecoratePink1: var(--colorPink800);    
    --colorDecoratePink2: var(--colorPink200);    
    --colorDecorateTeal1: var(--colorTeal800);    
    --colorDecorateTeal2: var(--colorTeal200);    
    --colorDecorateOrange1: var(--colorOrange800);    
    --colorDecorateOrange2: var(--colorOrange200);    
    --colorDecoratePurple1: var(--colorPurple800);    
    --colorDecoratePurple2: var(--colorPurple200);    
    --colorNeutralLight600: var(--colorGrayTrue600);    
    --colorNeutralLight800: var(--colorGrayTrue800);    
    --colorNeutralDark100: var(--colorPrimerDark100);    
    --colorNeutralDark200: var(--colorPrimerDark200);    
    --colorNeutralDark300: var(--colorPrimerDark300);    
    --colorNeutralDark400: var(--colorPrimerDark400);    
    --colorNeutralDark500: var(--colorPrimerDark500);    
    --colorNeutralDark600: var(--colorPrimerDark600);    
    --colorNeutralDark700: var(--colorPrimerDark700);    
    --colorNeutralDark800: var(--colorPrimerDark800);    
    --colorNeutralDark900: var(--colorPrimerDark900);    
    --colorNeutralDark1000: var(--colorPrimerDark1000);    
    --colorBrandPrimary100: var(--colorGreen100);    
    --colorBrandPrimary200: var(--colorGreen200);    
    --colorBrandPrimary300: var(--colorGreen300);    
    --colorBrandPrimary400: var(--colorGreen400);    
    --colorBrandPrimary500: var(--colorGreen500);    
    --colorBrandPrimary900: var(--colorGreen900);    
    --colorBrandPrimary1000: var(--colorGreen1000);    
    --colorPositive300: var(--colorTeal300);    
    --colorPositive400: var(--colorTeal400);    
    --colorPositive500: var(--colorTeal500);    
    --colorPositive700: var(--colorTeal700);    
    --colorPositive800: var(--colorTeal800);    
    --colorPositive1000: var(--colorTeal1000);    
    --colorNegative300: var(--colorRedTail300);    
    --colorNegative400: var(--colorRedTail400);    
    --colorNegative500: var(--colorRedTail500);    
    --colorNegative900: var(--colorRedTail800);    
    --colorNegative1000: var(--colorRedTail1000);    
    --colorWarning300: var(--colorOrange300);    
    --colorWarning400: var(--colorOrange400);    
    --colorWarning500: var(--colorOrange500);    
    --colorWarning700: var(--colorOrange700);    
    --colorWarning900: var(--colorOrange900);    
    --colorWarning1000: var(--colorOrange1000);    
    --colorInformation100: var(--colorBlueDark100);    
    --colorInformation300: var(--colorBlueDark300);    
    --colorInformation400: var(--colorBlueDark400);    
    --colorInformation500: var(--colorBlueDark500);    
    --colorInformation900: var(--colorBlueDark900);    
    --colorInformation1000: var(--colorBlueDark1000);    
    --colorSecondary300: var(--colorYellow300);    
    --colorSecondary500: var(--colorYellow500);    
    --colorSecondary600: var(--colorYellow600);    
    --colorSecondary700: var(--colorYellow700);    
    --colorSecondary800: var(--colorYellow800);    
    --colorSecondary900: var(--colorYellow900);    
    --colorSecondary1000: var(--colorYellow1000);    
}