
:root {
    --measureLineHeightLineHeightLineheights0: 125%;    
    --measureLineHeightLineHeightLineheights1: 150%;    
    --measureLineHeightLineHeightLineheights2: 140%;    
    --measureLineHeightLineHeightLineheights3: 120%;    
    --measureFontSizeFontSizeFontsize0: 10px;    
    --measureFontSizeFontSizeFontsize1: 12px;    
    --measureFontSizeFontSizeFontsize2: 14px;    
    --measureFontSizeFontSizeFontsize3: 16px;    
    --measureFontSizeFontSizeFontsize4: 18px;    
    --measureFontSizeFontSizeFontsize5: 22px;    
    --measureFontSizeFontSizeFontsize6: 28px;    
    --measureFontSizeFontSizeFontsize7: 56px;    
    --measureLetterSpacingLetterSpacingLetterspacing0: 0px;    
    --measureParagraphSpacingParagraphSpacingParagraphspacing0: 0px;    
    --measureDimensionDimensionParagraphindent0: 0px;    
}